
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.container1{
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: aqua;
  width: 50vh;
  height: 65vh;
  border-radius: 30px;
  align-self: flex-start;

}

.capa{
  display: flex;
  justify-content: center;
  background-color: black;
  height:25vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.form{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  gap: 12px;
  width: 70%;
  align-self: center;
}

.foto{
  border-radius: 40px;
  width: 80px;
}

.b-foto{
  position: fixed;
  margin-left: 120px;
  margin-top: 9%;
  border-radius: 50px;
  
}