
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.container1{
  display: flex;
  justify-content: center;
}

.container2 {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: 50vh;
  height: 65vh;
  border-radius: 30px;

}
.container3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.capa{
  display: flex;
  justify-content: center;
  align-items:flex-end;
  background-color: black;
  height:20vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.form{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  gap: 12px;
  width: 70%;
  align-self: center;
  
}

.foto{
  border-radius: 40px;
  width: 80px;
}

.b-foto{
  margin: 0;
  width: 12vh;
  height: 12vh;
  border-radius: 50px;
  
}